<div class="jumbotron">
    <h1>ASP.NET REST service</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>REST api</h2>
        <ol>
            <li><span class="api-key">/get-all</span> - <span class="api-desc">get all stored heroes</span></li>
            <li><span class="api-key">/get-detail/{id}</span> - <span class="api-desc">get detaile on hero by hero id</span></li>
            <li><span class="api-key">/save-hero/{id}/{new-name}</span> - <span class="api-desc">update details on hero</span></li>
        </ol>
    </div>
</div>
